
@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
    font-family: 'Poppins', sans-serif;
}

.font-crimson {
    font-family: "Crimson pro", sans-serif;
}

.font-inconsolata {
    font-family: 'Inconsolata', monospace;
}
